.jumbotron {
  background-color: red;
  color: aliceblue;
  border: solid 5px;
  border-color: aliceblue;
}

#footer {
  align-self: center;
  padding-left: 500px;
  padding-top: 20px;
}

.pick {
  align-self: center;
  padding-top: 20px;
  background-color: red;
  border: solid 5px;
  border-color: aliceblue;
}

#textPrice {
  border: 2px solid yellow;
  text-align: center;
  width: 45%;
}

.totalOrderprice {
  padding-top: 10px;
}

hr {
  width: 20%;
}

.sect-4 {
  margin-left: 25%;
  margin-top: 5%;
}

#card2 {
  height: 61vh;
  background-image: url("../images/p3.jpg");
  border: solid 5px;
  border-color: black;
}

body {
  background-color: yellow;
}

.card1 {
  background-color: black;
  color: aliceblue;
  border: solid 5px;
  border-color: aliceblue;
}

#exampleModal {
  background-image: url("../images/p3.jpg")
}

.modal-content {
  background-color: black;
  color: white;
}